{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-section">
            <h2>Editar Tarefa</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="title">Título:</label>
                <input type="text" name="title" value="{{ task.title }}" required>

                <label for="bairro">Bairro:</label>
                <input type="text" name="bairro" value="{{task.bairro}}">

                <label for="description">Descrição:</label>
                <textarea name="description" rows="4" style="resize: none;">{{ task.description }}</textarea>

                <button class="salvar-alt" type="submit">Salvar Alterações</button>
                <a href="{% url 'index' %}">Cancelar</a>
            </form>
            
        </div>
    </div>
</body>
</html>
